.compassContent {
  position: absolute;
  bottom: 160px;
  right: 0;
  z-index: 12;
}
.compassBtn {
  display: inline-block;
  cursor: pointer;
  margin: 6px;
  width: 36px !important;
  height: 36px !important;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7);
  transition: color 0.3s;
  background: #fff;
  font-size: 24px;
  font-weight: bold;
}
