.queryResult3D {
  z-index: 10;
  position: fixed;
  left: calc((100% - 1423px) / 2);
  top: calc((100% - 737px) / 2);
  width: 1423px;
  height: 737px;
  padding: 54px 61px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 12px 0px rgba(90, 88, 88, 0.33);
  border-radius: 4px;
  border: 1px solid rgba(196, 200, 204, 1);
}

.queryClose {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  font-size: 22px;
  color: rgba(0, 0, 0, 1);
}

.tableContainer {
  background-color: rgba(255, 255, 255, 1);
}
