.ant-menu-horizontal {
    line-height: 60px;
    border-bottom: none;
    background-color: transparent;
    color: #fff;
}

.ant-menu-horizontal > .ant-menu-item, 
.ant-menu-horizontal > .ant-menu-submenu {
    border-top: 2px solid transparent;
    border-bottom: none;
    font-size: 16px;
    /*font-family: 'SimHei';*/
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #fff !important;
  font-weight: bolder;
  border-top: 2px solid #fff;
  border-bottom: none;
  /*background-color: #03a9f4;*/
}

.ant-menu-submenu-title:hover{
    color: #fff !important;
}

/*.ant-menu-submenu-popup >.ant-menu-item:hover,
.ant-menu-submenu-popup >.ant-menu-item-active,
.ant-menu-submenu-popup >.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-popup >.ant-menu-submenu-active{
  background-color: #90c7fa;
}*/

.ant-menu-vertical .ant-menu-item:not(:last-child), 
.ant-menu-vertical-left .ant-menu-item:not(:last-child), 
.ant-menu-vertical-right .ant-menu-item:not(:last-child), 
.ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 0px;
    margin-top:  0px;
}

.ant-menu-submenu-popup{
    border-radius: 0px;
}
.ant-menu-submenu-popup::before{
    top: -7px;
}
.ant-menu-submenu > .ant-menu {
    background-color: #fff;
    border-radius: 0px;
}

.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title{
    font-size: 12px;
    padding: 5px 15px;
}

.ant-pagination{
  text-align: center;
  margin-bottom: 10px;
}
.ant-menu-vertical > .ant-menu-item{
    height:32px;
    font-size: 12px;
    line-height: 32px;
    padding: 5px 15px;
}