.wrap {
  /* position: absolute;
  right: 524px;
  top: 21px;
  z-index: 500; */
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0;
}

.popover {
  left: 1270px !important;
  border-radius: 0;
}

.popover :global(.ant-popover-arrow) {
  display: none;
}