.query3D {
  z-index: 10;
  position: fixed;
  bottom: 60px;
  left: 310px;
  width: 1300px;
  height: 66px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  border: 1px solid rgba(196, 200, 204, 1);
  padding: 15px 81px;
}

.setTime {
  width: 136px;
  height: 36px;
  background: rgba(231, 233, 235, 1);
  border-radius: 4px;
  border: 1px solid rgba(71, 180, 121, 1);
  color: rgba(71, 180, 121, 1);
}

.timeContainer {
  display: inline;
  margin-left: 30px;
}

.time {
  width: 82px;
  height: 36px;
  background: rgba(231, 233, 235, 1);
  border-radius: 4px;
  border: 1px solid rgba(196, 200, 204, 1);
}

.timeWords {
  margin-left: 4px;
  width: 18px;
  height: 25px;
  font-size: 18px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(56, 71, 80, 1);
  line-height: 25px;
}

.query {
  position: absolute;
  right: 175px;
}

.reset {
  position: absolute;
  right: 81px;
}

.blackBtn {
  width: 74px;
  height: 36px;
  background: rgba(56, 71, 80, 1);
  border-radius: 4px;
  border: 1px solid rgba(196, 200, 204, 1);
  color: white;
}
