.showl {
  display: block;
  position: fixed;
  height: 22px;
  width: 300px;
  bottom: 20px;
  /* left: 25px; */
  line-height: 22px;
}
.phang {
  margin: 0px 0px 0px 10px;
  font-size: 12px;
  font-weight: normal;
  color: black;
}
.spanhang {
  color: #999;
}