<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <title>ARCGIS GEOMAP</title>
  <link rel="shortcut icon" type="image/ico" href="./images/favicon.png">
  <link rel="stylesheet" href="http://geomap.arcgisonline.cn/jsapi/4.10/esri/css/main.css">
  <link rel="stylesheet" href="./css/component.css">
</head>

<body>
  <div id="root"></div>
  <script>
    var apiRoot = 'http://geomap.arcgisonline.cn/jsapi/4.10/init.js';
    var package_path = window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/')); 
    var dojoConfig = {
      async: true,
      deps: ['@dojo/framework/shim/main'],
      has: {
        "esri-promise-compatibility": 1,  // Use native Promises by default
        "esri-featurelayer-webgl": 1      // Enable FeatureLayer WebGL capabilities
      },
      packages: [{
          name: "modules",
          location: package_path + "/libs/poltmodules"
     }]
    };
  </script>
  <script src="./config/config.js"></script>
  <script src="./config/searchConfig.js"></script>
  <script src="./config/classconfig.js"></script>
  <script src="./config/poi.js"></script>
  <script src="./libs/geomap-utils.min.js"></script>
  <script src="./libs/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="./libs/fetch-jsonp.js"></script>
</body>

</html>