

.tranfBtn {
  display: inline-block;
  cursor: pointer;
  width: 25px !important;
  height: 25px !important;
  text-align: center;
  position: relative;
  z-index: 1;
  transition: color 0.3s;
  background: #fff;
  color: #4c4c4c;
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  font-weight: bold;
  padding-top: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 1px;
}
