.wrap {
  margin-top: 10px;
  width: 374px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loadingimg {
  width: 140px;
  height: 70px;
}

.text {
  color: #000;
}
