.wrap {
  margin-top: 10px;
  width: 368px;
  background: white;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.msg {
  font-size: 15px;
  margin-left: 10px;
  color: orange;
}