.wrap {
  flex: 0 1 auto;
  /* margin-top: 4px; */
  /* width: 395px; */
  pointer-events: all;
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
  /*background: rgba(59, 59, 59, 0.8);*/
  border: 1px solid #ddd;
  /* height: 86%; */
  /* position: absolute; */
  /* bottom: 10px;
    top: 40px; */
  box-shadow: 1px 2px 1px rgba(0, 0, 0, .15);
}

.bar {
  /* color: rgb(255, 255, 255); */
  padding: 8px 12px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background: #fff !important;
  border-bottom: 1px solid #eee;
}

.returnIcon {
  /*color: #000;*/
}

.barText {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.itemtitle {
  height: 96px;
  background: #3285FF;
  color: white;
  padding: 15px;
  font-size: 16px;
}

.itembar {
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #3285FF;
  font-size: 12px;
  padding: 0 15px;
  border-bottom: 1px solid #ececec;
}

.itemdesc {
  padding: 15px;
}

.itemdesc>section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.itemdesc>section>h2 {
  flex: none;
}

.itemdesc>section>p {
  flex: auto;
  margin-left: 15px;
}

.itemDetailContent {
  background: #fff;
}

.viewMileageMapIcon {
  float: right;
  /*font-size: 19px;*/
}