.modal {
  position: fixed;
  top: 119px;
  right: 85px;
  pointer-events: all;
  overflow: hidden;
  border-radius: 0px;
  width: 395px;
  max-height: 830px;
  background: transparent;
  z-index: 5;
  display: flex;
  box-shadow: 1px 2px 1px rgba(0,0,0,.15);
}
.modalbody {
  padding: 10px 0px 10px 10px;
  text-align: left;
  color: #000;
}
.listdiv {
  /*min-height: 245px;*/
  overflow: auto;
  max-height: 800px;
}
.wrapClassName {
  pointer-events: none;
}

.title {
  font-size: 15px;
  width: 100%;
  line-height: 20px;
  /*border-radius: 4px 4px 0 0;*/
  padding: 8px 12px;
  color: #fff;
  background: #1870ff;
  border: none;
}
.close {
  float: right;
  font-size: 16px;
  color: #ffffff;
}
