.wrapClassName {
  pointer-events: none;
}
.toolbar {
  z-index: 10;
  position: absolute;
  top: 20px;
  right: 10px;
}
.noradius {
  border-radius: 0px;
}
.menuItem {
  text-align: center;
  margin: 0px 0px !important;
  line-height: 30px !important;
  height: 30px !important;
  /* background-color: #fff !important; */
}
.menuItem:hover{
  background-color: #e6f7ff !important;
  color: rgba(0, 0, 0, 0.65) !important;
}