.btn {
    display: inline-block;
    cursor: pointer;
    margin: 6px;
    width: 44px !important;
    height: 44px !important;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7);
    transition: color 0.3s;
    background: #001529;
    font-size: 24px;
    font-weight: bold;
  }
  
  .btn:hover {
    background: #15e3e1;
  }
  
  .btnImg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -21px; /* 高度的一半 */
    margin-left: -21px; /* 宽度的一半 */
  }
  .btnImg4panel {
    width: 42px;
    height: 42px;
  }
  .span4panel{
    font-size: 18px;
    margin-right: 10px;
  }
  
  .modlediv {
    position: absolute;
    /* right: 10px;
    top: 120px; */
    right: 55px;
    top: 80px;
  }
  .listdiv {
    background-color: rgba(230, 230, 230, 0.945);
    width: 350px;
  }
  .ptitle {
    background-color: rgba(0, 0, 0, 0.766);
    color: white;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
  }
  .spantitle {
    margin-left: 210px;
    display: inline-block;
    color: white;
    cursor: pointer;
    font-size: 22px;
    padding-left: 40px;
  }
  .modledivtabs {
    position: absolute;
    right: 320px;
    top: 0;
    width: 50px;
    background-color: rgba(214, 214, 214, 0.87);
  }
  .modledivtab {
    width: 20px;
    margin: 0 auto;
    line-height: 16px;
    font-size: 16px;
    cursor: pointer;
    padding-top: 5px;
    text-align: center;
  }
  .modledivtabdiv {
    width: 50px;
    background-color: rgba(214, 214, 214, 0.87);
    height: 60px;
    border-bottom: 1px solid black;
  }
  .modledivtabdiv:hover {
    background: #15e3e1;
    color: white;
  }
  .modledivtabdivx {
    width: 50px;
    background-color: rgba(214, 214, 214, 0.87);
    height: 30px;
    border-bottom: 1px solid black;
  }
  .modledivtabdivx:hover {
    background: #15e3e1;
    color: white;
  }
  .modledivtabActive{
    background: #15e3e1;
    color: white;
  }
  .tabdiv {
    height: 100%;
  }
  .tabDivTitle {
    background-color: rgba(199, 198, 198, 0.7);
    color: black;
    font-size: 16px;
    border: 0;
    padding-left: 24px;
  }
  .tabDivTitle:hover {
    cursor: pointer;
    color: blue;
  }
  .tabdivnone {
    height: 100%;
    display: none;
  }
  .SubMenustyle {
    background-color: rgba(199, 198, 198, 0.9);
    color: black;
  }
  .ant-menu-submenu-title {
    background-color: #fff;
    opacity: 0.5;
    color: black;
    font-size: 16px;
  }
  .SubMenudiv {
    height: 60px;
    width: 320px;
    padding-left: 24px;
    display: flex;
    line-height: 56px;
    align-items: center;
    overflow-x: auto;
  }
  
  .SubMenudivbottom {
    height: 56px;
    padding-left: 24px;
    display: flex;
    width: 320px;
    line-height: 56px;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
  }
  
  .SubMenudivimg {
    flex: auto;
    text-align: center;
    line-height: 56px;
    /* height: 56px;
    display: table-cell;
    vertical-align: middle; */
  }
  .img4roof {
    width: 36px;
  }
  .img4wall {
    width: 36px;
  }
  
  .viewPointImg {
    /* vertical-align: middle;
    padding: 0px;
    margin: 0px; */
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .SubMenudivimgbottom {
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    margin: 0 5px;
  }
  .SubMenudivimgbottom:hover {
    border: 2px solid rgb(34, 160, 51);
  }
  .SubMenudivicon {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 60px;
    background-color:rgba(199, 198, 198, 0.2);
    border: 1px solid gray;
  }
  .choosebuildModul {
    background-color: white;
    width: 320px;
  }
  .choosebuildDiv {
    padding: 0;
    margin: 0;
    height: 30px;
    color: black;
    background-color: rgba(199, 198, 198, 0.5);
    line-height: 30px;
    font-size: 16px;
    padding-left: 24px;
  }
  .choosebuilddivdiv {
    width: 150px;
    display: inline-block;
    margin: 5px;
  }
  .spanRight {
    float: right;
    margin-right: 10px;
    cursor: pointer;
    background: #15e3e1;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    width:60px;
    border-radius: 5px;
  }
  .spanRight2 {
    float: right;
    margin-top: 5px;
    cursor: pointer;
    background: #15e3e1;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    width:60px;
    border-radius: 5px;
  }
  .spanLeft {
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .spanLeft:hover {
    color: #1296db;
  }
  .choosebuildP {
    margin: 0;
    padding: 0;
  }
  .choosebuildPt {
    margin: 0;
    padding: 0;
    padding-left: 15px;
  }
  .choosebuildPt2 {
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-left: 15px;
  }
  .choosebuildinput {
    width: 100px;
    height: 20px;
    background-color:rgba(199, 198, 198, 0.3);
    margin: 0 5px;
    color: black;
  }
  .TabPanetable {
    width: 320px;
    padding:20px;
    background-color: white;
  }
  .iconpuls {
    font-size: 30px;
    color: black;
    cursor: pointer;
  }
  .iconpuls:hover {
    color: #08c;
  }
  .modal {
    text-align: center;
    white-space: nowrap;
  }
  
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  
  .modal :global(.ant-modal) {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
    height: 90%;
    width: 90% !important;
  }
  
  .modal :global(.ant-modal) :global(.ant-modal-content) {
    height: 100%;
  }
  
  .modal
    :global(.ant-modal)
    :global(.ant-modal-content)
    :global(.ant-modal-body) {
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    bottom: 0;
    overflow: scroll;
  }
  
  .iconpulsRoam {
    font-size: 30px;
    color: black;
    cursor: pointer;
  }
  .SubMenudivNoheight {
    width: 300px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    line-height: 56px;
    align-items: center;
  }
  